.main-jumbotron {
    background-color: #7971EA;
    height: 1050px;
    left: 0px;
    margin-top: -64px;
}

.contentjumb {
    padding-top: 11%;
    padding-left: 20%;
}

.contenttext {
    margin-bottom: 20%;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


h1 {
    color: #FAFAFA;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 80px;
    letter-spacing: -0.03em;
}

.button1 {
    background-color: black;
    width: 273px;
    height: 56px;
    left: 140px;
    top: 704.5px;
}

.Logo {
    height: 952px;
    width: 708px;
    left: 743px;
    /* top: 70px; */
}