.rectangle {
    height: 350px;
    background-color: black;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


h2 {
    color: #eeeeee;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 54px;
    margin-left: 140px;
    top: 100px;
}

.button3 {
    color: #eeeeee;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
    text-align: center;
    background-color: #7971EA;
    width: 273px;
    height: 56px;
    margin-left: 140px;
    top: 195px;
    border-radius: 5px;
}

.Dots1 {
    width: 100px;
    height: 225px;
    top: 182px;
    margin-left: 267px;
    background-color: rgba(255, 255, 255, 0.6);
    transform: rotate(90deg);
}