h2 {
    color: black;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 54px;
    /* top: 1123.5px; */
    left: 140px;
}

h3 {
    color: #7971EA;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 36px;
    justify-content: flex-end;
    top: 1823px;
    left: 1085px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.subscription {
    height: 900px;
}

.SubsApp {
    overflow-x: scroll;
    height: 359px;
    margin-left: 12px;
    margin-right: 12px;
}

.linkapp {
    text-align: right;
}