.main-header {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    height: 70px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


h3 {
    color: black;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.header-link {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-button {
    color: white;
    background-color: #7971EA;
    margin-left: 5px;
    margin-right: 5px;
}

.Logo {
    top: 0;
}